/LimitCalculatorPro/nbproject/private/
/LimitCalculatorPro/build/
/LimitCalculatorPro/dist/
/Lecture9plusWordCount/nbproject/private/
/Lecture9plusWordCount/build/
/Lecture9plusCountShortWords/nbproject/private/
/Lecture9plusCountShortWords/build/
/Factorial/nbproject/private/
/Factorial/build/
/Factorial/dist/
/WordParser/nbproject/private/
/MyClassXYZv030822a/nbproject/private/
/MyClassXYZv030822a/build/
/Statistics/nbproject/private/
/Statistics/build/
/TryToCompareStrings(app)/nbproject/private/
/TryToCompareStrings(app)/build/
/ComputeCommission/nbproject/private/
/ComputeCommission/build/
/EvenEntryLoop/nbproject/private/
/EvenEntryLoop/build/
/ProcessPhrase(L10-Predict)MultiMethods/nbproject/private/
/ProcessPhrase(L10-Predict)MultiMethods/build/
/VowelCounterL9b/nbproject/private/
/ValueMethods/nbproject/private/
/ValueMethods/build/
/GradeArray/nbproject/private/
/GradeArray/build/
/GradeArray/dist/
/NameGame/nbproject/private/
/NameGame/build/
/ShapeCalculator/nbproject/private/
/ShapeCalculator/build/
/ShapeCalculator/dist/
/EightInts/nbproject/private/
/EightInts/build/
/EightInts/dist/
/arrayarguments/nbproject/private/
/arrayarguments/build/
/arrayarguments/dist/
/Lesson13Predict/nbproject/private/
/Lesson13Predict/build/
/Lesson13Predict/dist/
/YatzeeVDebug/nbproject/private/
/YatzeeVDebug/build/
/YatzeeVDebug/dist/
/YatzeeModify/nbproject/private/
/StudentGrades/nbproject/private/
/StudentGrades/dist/
/StudentGrades/build/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/TicTacToe/dist/
/DeckOfCards/nbproject/private/
/StudentGradeSystem/nbproject/private/
/Hello/nbproject/private/
/Hello/build/
/Hello/dist/
/ReadTabFile/nbproject/private/
/ReadTabFile/build/
/ReadTabFile/dist/
/ReadCSVFile/nbproject/private/
/ReadCSVFile/build/
/ReadCSVFile/dist/
/TestTest/nbproject/private/
/TestTemp/nbproject/private/
/TestPizza/nbproject/private/
/TestPizza/build/
/TestPizza/dist/
/FrogRace/nbproject/private/
/FrogRace/build/
/TestSuperHero/nbproject/private/
